.diseño{
 background-color: blanchedalmond;
}
h1{
    text-align: center;
}
h5{
    text-align: center;
}
p{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    font-family:  lato;
    
}

.carrucel{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.carrucel ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;

}
.carrucel li{
    width: 100%;
    list-style: none;

}
.carrucel img{
    width: 100%;
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

